.collection-overview, .collection-parts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.collection-overview {
    margin-bottom: 30px;
}

.collection-overview img {
    max-width: 100%;
    margin-top: 10px;
}

.collection-parts h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

/* Movie grid styles */
.movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.movie-item {
    padding: 16px;
    padding-top: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: calc(25% - 16px); /* Default 4 columns layout */
    box-sizing: border-box;
    text-align: center;
}

.movie-item img.movie-poster {
    max-width: 100%;
    margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .movie-item {
        width: calc(33.33% - 16px); /* 3 columns layout on medium screens */
    }
}

@media (max-width: 768px) {
    .movie-item {
        width: calc(50% - 16px); /* 2 columns layout on smaller screens */
    }
}

@media (max-width: 480px) {
    .movie-item {
        width: 100%; /* Single column layout on very small screens */
    }
}