.group-showtime-grid {
    display: none;
}

.group-section-container {
    padding-left: 15px;
}

.group-members-table {
    border: 0;
}

.group-members-table th, .group-members-table td {
    border: 0;
}

.group-movies-table {
    border: 0;
    max-width: 500px;
}

.group-movies-table th, .group-movies-table td {
    border: 0;
}

.group-showtime-table th, .group-showtime-table td {
    padding: 12px;
}

.group-movies-table td:first-child {
    width: 50%;
}

.group-movies-table td:last-child {
    width: 50%;
}

.group-showtime-grid {
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.group-showtime-card {
    border: 1px solid #ddd;
    padding: 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-right: 12px;
}

.group-showtime-card p {
    margin: 12px; /* Reduces vertical spacing between paragraphs */
}

/* Single-column layout for small screens */
@media (max-width: 650px) {

    .group-showtime-table {
        display: none;
    }

    .group-showtime-grid {
        display: flex;
    }

    .group-showtime-card {
        width: 100%; /* Full width for narrow screens */
    }
}